<h1>Añadir Propietario</h1>

<form>
  <ul>
    <li class="etiqueta"><label>Introduzca su DNI:</label></li>
    <li class="datos"><input type="text" placeholder="00000000A" />*</li>
  </ul>
  <ul>
    <li class="etiqueta"><label>Introduzca su nombre:</label></li>
    <li class="datos"><input type="text" />*</li>
  </ul>
  <ul>
    <li class="etiqueta"><label>Introduzca sus apellidos:</label></li>
    <li class="datos"><input type="text" />*</li>
  </ul>
  <ul>
    <li class="etiqueta"><label>Fecha de nacimiento:</label></li>
    <li class="datos"><input type="date" />*</li>
  </ul>
  <span>-Datos de su propiedad</span>
  <ul>
    <li class="etiqueta"><label>Número de la propiedad:</label></li>
    <li class="datos"><input type="text" />*</li>
  </ul>
  <ul>
    <li class="etiqueta"><label>Calle de la propiedad:</label></li>
    <li class="datos"><input type="text" />*</li>
  </ul>
  <ul>
    <li class="etiqueta"><label>Código Postal de la propiedad:</label></li>
    <li class="datos">
      <select>
        <option selected>Seleccione su Código Postal</option>
        <option *ngFor="let ciudad of ciudades" value="{{ ciudad.codpost }}">
          {{ ciudad.codpost }}
        </option>
      </select>
    </li>
  </ul>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
