<h2>Mis Propiedades</h2>

<ul class="propiedades">
  <li *ngFor="let propiedad of propiedades">
    <a
      routerLink="/propiedades/detail/{{ propiedad.calles[0] }}/{{
        propiedad.numero
      }}/{{ propiedad.codpost }}"
    >
      <span class="badge">{{ propiedad.identificador }}</span>
      <span>{{ propiedad.propietario }}</span>
      <span>, Metros: {{ propiedad.metrosc }}</span>
      <span>, Precio: {{ propiedad.precio }} €</span>
    </a>
    <button class="delete" title="delete propiedad" (click)="delete(propiedad)">
      x
    </button>
  </li>
</ul>
