<h1>Añadir Propiedad</h1>

<form class="Sol" [formGroup]="propiedadForm">
  <h2>Añadir Solares</h2>
  <ul>
    <li class="etiqueta"><label>Numero de la propiedad:</label></li>
    <li class="datos"><input #numeroP type="text" />*</li>
  </ul>
  <ul>
    <li class="etiqueta"><label>Calle de la propiedad:</label></li>
    <li class="datos"><input #calle1 type="text" />*</li>
  </ul>
  <ul>
    <li class="etiqueta"><label>Calle de la propiedad:</label></li>
    <li class="datos"><input #calle2 type="text" /></li>
  </ul>
  <ul>
    <li class="etiqueta"><label>Calle de la propiedad:</label></li>
    <li class="datos"><input #calle3 type="text" /></li>
  </ul>
  <ul>
    <li class="etiqueta"><label>Calle de la propiedad:</label></li>
    <li class="datos"><input #calle4 type="text" /></li>
  </ul>
  <ul>
    <li class="etiqueta"><label>Código Postal de la propiedad:</label></li>
    <li class="datos">
      <select #codpost>
        <option selected>Seleccione su Código Postal</option>
        <option
          *ngFor="let ciudad of ciudades; let indice = index"
          value="{{ ciudad.codpost }}"
        >
          {{ ciudad.codpost }}
        </option>
      </select>
    </li>
  </ul>
  <ul>
    <li class="etiqueta"><label>Precio por metro cuadrado:</label></li>
    <li class="datos">
      <input #preciom type="number" value="{{ ciudades[1].codpost }}" />
    </li>
  </ul>
  <ul>
    <li class="etiqueta"><label>Metros cuadrados:</label></li>
    <li class="datos">
      <input #metrosc type="number" value="" />
    </li>
  </ul>
  <ul>
    <li class="etiqueta"><label>Propietario:</label></li>
    <li class="datos">
      <select #DNI>
        <option selected>Seleccione su DNI</option>
        <option *ngFor="let propt of propietarios" value="{{ propt._DNI }}">
          {{ propt._DNI }}
        </option>
      </select>
    </li>
    <button (click)="getPropietarios()">Cargar Propietarios</button>
  </ul>
  <ul>
    <li class="etiqueta"><label>Edificable:</label></li>
    <li class="datos"><input #edi type="checkbox" /></li>
  </ul>
  <ul>
    <li class="etiqueta"><label>Acceso a Luz:</label></li>
    <li class="datos"><input #luz type="checkbox" /></li>
  </ul>
  <ul>
    <li class="etiqueta"><label>Acceso a Agua:</label></li>
    <li class="datos"><input #agua type="checkbox" /></li>
  </ul>
  <ul>
    <li class="etiqueta"><label>Lejanía del centro urbano:</label></li>
    <li class="datos"><input #lejania type="text" /></li>
  </ul>
  <button
    type="submit"
    (click)="
      add_sol(
        numeroP.value,
        calle1.value,
        calle2.value,
        calle3.value,
        calle4.value,
        codpost.value,
        preciom.value,
        metrosc.value,
        DNI.value,
        edi.value,
        luz.value,
        agua.value,
        lejani.valu
      )
    "
  >
    Guardar
  </button>
</form>
<form class="Viv">
  <h2>Añadir Vivienda</h2>
  <ul>
    <li class="etiqueta"><label>Numero de la propiedad:</label></li>
    <li class="datos"><input type="text" />*</li>
  </ul>
  <ul>
    <li class="etiqueta"><label>Calle de la propiedad:</label></li>
    <li class="datos"><input type="text" />*</li>
  </ul>
  <ul>
    <li class="etiqueta"><label>Calle de la propiedad:</label></li>
    <li class="datos"><input type="text" /></li>
  </ul>
  <ul>
    <li class="etiqueta"><label>Calle de la propiedad:</label></li>
    <li class="datos"><input type="text" /></li>
  </ul>
  <ul>
    <li class="etiqueta"><label>Calle de la propiedad:</label></li>
    <li class="datos"><input type="text" /></li>
  </ul>
  <ul>
    <li class="etiqueta"><label>Código Postal de la propiedad:</label></li>
    <li class="datos">
      <select>
        <option selected>Seleccione su Código Postal</option>
        <option *ngFor="let ciudad of ciudades" value="{{ ciudad.codpost }}">
          {{ ciudad.codpost }}
        </option>
      </select>
    </li>
  </ul>
  <ul>
    <li class="etiqueta"><label>Precio por metro cuadrado:</label></li>
    <li class="datos">
      <input type="number" placeholder="Precio del metro" value="" />
    </li>
  </ul>
  <ul>
    <li class="etiqueta"><label>Propietario:</label></li>
    <li class="datos">
      <select>
        <option selected>Seleccione el DNI del comprador</option>
        <option *ngFor="let propt of propietarios" value="{{ propt._DNI }}">
          {{ propt._DNI }}
        </option>
      </select>
    </li>
    <button (click)="getPropietarios()">Cargar Propietarios</button>
  </ul>
  <ul>
    <li class="etiqueta"><label>Antiguedad:</label></li>
    <li class="datos"><input type="date" /></li>
  </ul>
  <ul>
    <li class="etiqueta"><label>Número de Habitaciones:</label></li>
    <li class="datos"><input type="number" /></li>
  </ul>
  <ul>
    <li class="etiqueta"><label>Número de Baños:</label></li>
    <li class="datos"><input type="number" /></li>
  </ul>
  <ul>
    <li class="etiqueta"><label>Garage:</label></li>
    <li class="datos"><input type="checkbox" /></li>
  </ul>
  <ul>
    <p>Equipación de la Cocina:</p>
    <li class="etiqueta"><label>Horno:</label></li>
    <li class="datos"><input type="checkbox" /></li>
    <li class="etiqueta"><label>Microondas:</label></li>
    <li class="datos"><input type="checkbox" /></li>
    <li class="etiqueta"><label>Lavavajillas:</label></li>
    <li class="datos"><input type="checkbox" /></li>
    <li class="etiqueta"><label>Frigorífico:</label></li>
    <li class="datos"><input type="checkbox" /></li>
  </ul>

  <button type="submit">Guardar</button>
</form>
