<h1>Añadir Propiedad</h1>

<form class="Sol">
  <h2>Añadir Solares</h2>
  <ul>
    <li class="etiqueta"><label>Numero de la propiedad:</label></li>
    <li class="datos"><input type="text" />*</li>
  </ul>
  <ul>
    <li class="etiqueta"><label>Calle de la propiedad:</label></li>
    <li class="datos"><input type="text" />*</li>
  </ul>
  <ul>
    <li class="etiqueta"><label>Calle de la propiedad:</label></li>
    <li class="datos"><input type="text" />*</li>
  </ul>
  <ul>
    <li class="etiqueta"><label>Calle de la propiedad:</label></li>
    <li class="datos"><input type="text" />*</li>
  </ul>
  <ul>
    <li class="etiqueta"><label>Calle de la propiedad:</label></li>
    <li class="datos"><input type="text" />*</li>
  </ul>
  <ul>
    <li class="etiqueta"><label>Código Postal de la propiedad:</label></li>
    <li class="datos">
      <select>
        <option selected>Seleccione su Código Postal</option>
        <option *ngFor="let ciudad of ciudades" value="{{ ciudad.codpost }}">
          {{ ciudad.codpost }}
        </option>
      </select>
    </li>
  </ul>
  <ul>
    <li class="etiqueta"><label>Precio por metro cuadrado:</label></li>
    <li class="datos">
      <input type="number" placeholder="Precio del metro" value="" />
    </li>
  </ul>
  <ul>
    <li class="etiqueta"><label>Propietario:</label></li>
    <li class="datos"><input type="text" /></li>
  </ul>
  <ul>
    <li class="etiqueta"><label>Edificable:</label></li>
    <li class="datos"><input type="checkbox" /></li>
  </ul>
  <ul>
    <li class="etiqueta"><label>Acceso a Luz:</label></li>
    <li class="datos"><input type="checkbox" /></li>
  </ul>
  <ul>
    <li class="etiqueta"><label>Acceso a Agua:</label></li>
    <li class="datos"><input type="checkbox" /></li>
  </ul>
  <button type="submit">Guardar</button>
</form>
<form class="Viv">
  <h2>Añadir Vivienda</h2>
  <ul>
    <li class="etiqueta"><label>Numero de la propiedad:</label></li>
    <li class="datos"><input type="text" />*</li>
  </ul>
  <ul>
    <li class="etiqueta"><label>Calle de la propiedad:</label></li>
    <li class="datos"><input type="text" />*</li>
  </ul>
  <ul>
    <li class="etiqueta"><label>Calle de la propiedad:</label></li>
    <li class="datos"><input type="text" />*</li>
  </ul>
  <ul>
    <li class="etiqueta"><label>Calle de la propiedad:</label></li>
    <li class="datos"><input type="text" />*</li>
  </ul>
  <ul>
    <li class="etiqueta"><label>Calle de la propiedad:</label></li>
    <li class="datos"><input type="text" />*</li>
  </ul>
  <ul>
    <li class="etiqueta"><label>Código Postal de la propiedad:</label></li>
    <li class="datos">
      <select>
        <option selected>Seleccione su Código Postal</option>
        <option *ngFor="let ciudad of ciudades" value="{{ ciudad.codpost }}">
          {{ ciudad.codpost }}
        </option>
      </select>
    </li>
  </ul>
  <ul>
    <li class="etiqueta"><label>Precio por metro cuadrado:</label></li>
    <li class="datos">
      <input type="number" placeholder="Precio del metro" value="" />
    </li>
  </ul>
  <ul>
    <li class="etiqueta"><label>Propietario:</label></li>
    <li class="datos"><input type="text" /></li>
  </ul>
  <ul>
    <li class="etiqueta"><label>Antiguedad:</label></li>
    <li class="datos"><input type="date" /></li>
  </ul>
  <ul>
    <li class="etiqueta"><label>Número de Habitaciones:</label></li>
    <li class="datos"><input type="number" /></li>
  </ul>
  <ul>
    <li class="etiqueta"><label>Número de Baños:</label></li>
    <li class="datos"><input type="number" /></li>
  </ul>
  <ul>
    <li class="etiqueta"><label>Garage:</label></li>
    <li class="datos"><input type="checkbox" /></li>
  </ul>
  <ul>
    <p>Equipación de la Cocina:</p>
    <li class="etiqueta"><label>Horno:</label></li>
    <li class="datos"><input type="checkbox" /></li>
    <li class="etiqueta"><label>Microondas:</label></li>
    <li class="datos"><input type="checkbox" /></li>
    <li class="etiqueta"><label>Lavavajillas:</label></li>
    <li class="datos"><input type="checkbox" /></li>
    <li class="etiqueta"><label>Frigorífico:</label></li>
    <li class="datos"><input type="checkbox" /></li>
  </ul>

  <button type="submit">Guardar</button>
</form>
