<h1>Añadir Propiedad</h1>

<form>
  <ul>
    <li class="etiqueta"><label>Tipo de propiedad:</label></li>
    <li class="datos">
      <select #tipo>
        <option selected>Seleccione el tipo de propiedad</option>
        <option>Solar</option>
        <option>Vivienda</option>
        <!--<option>Comercio</option>-->
      </select>
    </li>
  </ul>
  <ul>
    <li class="etiqueta"><label>Numero de la propiedad:</label></li>
    <li class="datos"><input type="text" />*</li>
  </ul>
  <ul>
    <li class="etiqueta"><label>Calle de la propiedad:</label></li>
    <li class="datos"><input type="text" />*</li>
  </ul>
  <ul>
    <li class="etiqueta"><label>Calle de la propiedad:</label></li>
    <li class="datos"><input type="text" />*</li>
  </ul>
  <ul>
    <li class="etiqueta"><label>Calle de la propiedad:</label></li>
    <li class="datos"><input type="text" />*</li>
  </ul>
  <ul>
    <li class="etiqueta"><label>Calle de la propiedad:</label></li>
    <li class="datos"><input type="text" />*</li>
  </ul>
  <ul>
    <li class="etiqueta"><label>Código Postal de la propiedad:</label></li>
    <li class="datos">
      <select>
        <option selected>Seleccione su Código Postal</option>
        <option *ngFor="let ciudad of ciudades" value="{{ ciudad._codpost }}">
          {{ ciudad._codpost }}
        </option>
      </select>
    </li>
  </ul>
  <ul>
    <li class="etiqueta"><label>Precio por metro cuadrado:</label></li>
    <li class="datos">
      <input type="number" placeholder="Precio del metro" value="" />
    </li>
  </ul>
  <ul>
    <li class="etiqueta"><label>Propietario:</label></li>
    <li class="datos"><input type="text" /></li>
  </ul>
  <button
    type="submit"
    *ngIf(tipo="Solar"
    ){
    routerlink="crearpropiedades/solar"
    }elseif(tipo="Vivienda"
    ){routerLink="crearpropiedades/vivienda"
    }
  >
    Siguiente
  </button>
</form>
